<style>

   #searchform{
     text-align: center;
    font-family: monospace;
   }

  nav{
    text-align: right;
    font-family: monospace;
  }

   header{
     text-align: center;
     border-bottom: 10px solid black;
     font-family: monospace;
   }

    p{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: black;
  }

   h2{
     text-align: justify;
     color: black;
     font-size: 35px;
     font-family: monospace;
     border-bottom: 5px dotted black;
   }

   body{
     text-align: center;
     background-color: white;

    font-family: monospace;
   }

   footer{
     text-align: center;
     font-family: monospace;
     border-top: 5px solid black;
   }

   h1{
     text-align: center;
     color: black;
     font-size: 50px;
     font-family: monospace;

   }

</style>
