<style>


  body{
    text-align: center;
  }

  main{
    text-align: center;
  }

  nav{
    text-align: right;
    font-family: monospace;
    border-bottom: 10px solid black;
  }

  h6{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
  }


  h1{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: monospace;

  }

  h2{
    text-align: left;
    border-bottom: 5px dotted black;
    color: black;
    font-size: 35px;
    font-family: monospace;
  }

  h3{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: monospace;
  }

  p{
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: monospace;

  }

  footer{
      border-top: 5px solid black;
  }


</style>
